{% extends 'main.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 disk-main">
			<div class="disk-header">
				<div class="row px-3 pt-2">
					<div class="col p-0">
						{% if 'yandex' in session %}
						<div class="row">
							<div class="col-auto">
								<img src="{{ url_for('static', filename='yandex-logo.png')}}" alt="Yandex-Logo" width="20px" height="20px">
								<span>{{session['yandex']['email']}}</span>
							</div>
							<div class="col-auto">
								<progress value="{{session['yandex']['used_space']}}" max="{{session['yandex']['total_space']}}"></progress>
								<span>{{session['yandex']['used_space']}}/{{session['yandex']['total_space']}} GB</span>
							</div>
						</div>
						{% else %}
						<div class="row">
							<div class="col-auto">
								<img src="{{ url_for('static', filename='yandex-logo.png')}}" alt="Yandex-Logo" width="20px" height="20px">
								<a class='drive_login' href="{{ url_for('auth.yandex_login_request')}}">Привязать аккаунт Yandex</a>
							</div>
						</div>
						{% endif %}
					</div>
					{% if 'yandex' in session %}
						<div class="col-auto align-self-end">
							<a class='drive_logout' href="{{ url_for('auth.yandex_logout')}}">Выход</a>
						</div>
					{% endif %}
				</div>
				{% if 'yandex' in session %}
				<div class="row header-button px-3">
					<!-- buttons -->
					<div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto p-0">
						<a href="{{url_for('main.yandex_root_dir')}}">Файлы</a>
					</div>
					<div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto p-0">
						<a href="{{url_for('main.public_root_dir')}}">Общий доступ</a>
					</div>
					<div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto p-0">
						<a href="{{url_for('main.trash_root_dir')}}">Корзина</a>
					</div>
				</div>
				<div class="row header-button mt-2">
					<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
						<div class="d-inline-block text-truncate path_line" id="path_line">
							{{session['yandex']['current_path']}}
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 p-0">
						<a href="#" class='d-inline-block text-truncate block-close path_line' id='upload-file-link' style="max-width: 90%;">Загрузить файл</a>
					</div>
				</div>
				{% endif %}
			</div>
			{% if 'yandex' in session %}
			<div class="disk-body">
				<div class="row">
					{% if session['yandex']['current_folder'] == 'root' %}
					<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 p-0 mt-2 item">
						<span id='make_new_dir'>
							<div class="row m-0">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-10 col-10 p-0 order-xl-first order-lg-first order-md-first text-xl-center text-lg-center text-md-center text-sm-left text-left">
									<span class='item_name d-inline-block text-truncate block-close' style="max-width: 90%;">Новая папка</span>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-2 col-2 p-0 order-sm-first order-xs-first order-first text-center">
									<img id='plus_image' src="{{url_for('static', filename='plus.png')}}" style='filter: invert(100%);' class='img-fluid'>
								</div>	
							</div>	
						</span>
					</div>
					{% endif %}
				{% for item in yandex_items %}
					<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 p-0 mt-2 item" id='del{{item["js_path"]}}'>
						<span href="#" title="{{item['name']}}" class="item_link" name='{{item["path"]}}' id='{{item["js_path"]}}' data-type='{{item["type"]}}' data-public='{{item["public"]}}' data-public_url='{{item["public_url"]}}' data-trash='{{item["trash"]}}'>
							<div class="row m-0">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-10 col-10 p-0 order-xl-first order-lg-first order-md-first text-xl-center text-lg-center text-md-center text-sm-left text-left">
									<span class='item_name d-inline-block text-truncate' style="max-width: 90%;">{{item['name']}}</span>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-2 col-2 p-0 order-sm-first order-xs-first order-first text-center">
									<img src="{{item['image']}}" class='img-fluid' id='{{item["js_path"]}}' alt="">
								</div>	
							</div>	
						</span>
					</div>
				{% endfor %}
				</div>
			</div>
			{% endif %}
		</div>
		<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 disk-main">
			<div class="disk-header">
				<div class="row px-3 pt-2">
					<div class="col p-0"> 
						{% if 'google' in session %}
						<div class="row">
							<div class="col-auto">
								<img src="{{ url_for('static', filename='google-logo.png')}}" alt="Google-Logo" width="20px" height="20px">
								<span>{{session['google']['email']}}</span>
							</div>
							<div class="col-auto">
								<progress value="{{session['google']['used_space']}}" max="{{session['google']['total_space']}}"></progress>
								<span>{{session['google']['used_space']}}/{{session['google']['total_space']}} GB</span>
							</div>
						</div>
						{% else %}
						<div class="row">
							<div class="col-auto">
								<img src="{{ url_for('static', filename='google-logo.png')}}" alt="Google-Logo" width="20px" height="20px">
								<a class='drive_login' href="{{ url_for('auth.google_login_request')}}">Привязать аккаунт Google</a>
							</div>
						</div>
						{% endif %}
					</div>
					{% if 'google' in session %}
					<div class="col-2 align-self-end">
						<a class='drive_logout' href="{{ url_for('auth.google_logout')}}">Выход</a>
					</div>
					{% endif %}
				</div>
				{% if 'google' in session %}
				<div class="row header-button">
					<!-- buttons -->
					<div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto p-0">
						<a href="{{url_for('main.google_root_dir')}}">Файлы</a>
					</div>
					<div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto p-0">
						<a href="{{url_for('main.gpublic_root_dir')}}">Общий доступ</a>
					</div>
					<div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto p-0">
						<a href="{{url_for('main.gtrash_root_dir')}}">Корзина</a>
					</div>
				</div>
				<div class="row header-button mt-2">
					<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
						<div class="d-inline-block text-truncate path_line" id="path_line">
							No-ne
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 p-0">
						<a href="#" class='d-inline-block text-truncate block-close path_line' id='google-upload-file-link' style="max-width: 90%;">Загрузить файл</a>
					</div>
				</div>
				{% endif %}
			</div>
			<div class="disk-body">
				<div class="row">
					{% if 'google' in session %}
						<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 p-0 mt-2 item">
							<span id='make_new_dir_google'>
								<div class="row m-0">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-10 col-10 p-0 order-xl-first order-lg-first order-md-first text-xl-center text-lg-center text-md-center text-sm-left text-left">
										<span class='item_name d-inline-block text-truncate block-close' style="max-width: 90%;">Новая папка</span>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-2 col-2 p-0 order-sm-first order-xs-first order-first text-center">
										<img id='plus_image' src="{{url_for('static', filename='plus.png')}}" style='filter: invert(100%);' class='img-fluid'>
									</div>	
								</div>	
							</span>
						</div>
						{% for item in google_items %}
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 p-0 mt-2 item" id='del{{item["id"]}}'>
							<span href="#" title="{{item['name']}}" class="item_link_google" id='{{item["id"]}}' data-type='{{item["mimeType"]}}' data-trash='{{item["trashed"]}}' data-public='{{item["shared"]}}'>
								<div class="row m-0">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-10 col-10 p-0 order-xl-first order-lg-first order-md-first text-x	l-center text-lg-center text-md-center text-sm-left text-left">
										<span class='item_name d-inline-block text-truncate' style="max-width: 90%;">{{item['name']}}</span>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-2 col-2 p-0 order-sm-first order-xs-first order-first text-center">
										<img src="{{item['image']}}" class='img-fluid' id='{{item["id"]}}' alt="">
									</div>	
								</div>	
							</span>
						</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}