{% extends 'main.html' %}

{% block title %}
Авторизация
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-xl-2 offset-xl-5 col-lg-2 offset-lg-5 col-md-4 offset-md-4 col-sm-4 offset-sm-4">
			<div id='auth-block'>
				<div class="row align-items-center">
<!--					<div class="col-2 d-block" id='auth-bor-margin'>-->
<!--						<img src="{{ url_for('static', filename='vk-logo.png')}}" alt="Vk-Logo" class='img-fluid'>-->
<!--					</div>-->
<!--					<div class="col-10 text-wrap d-block text-center" id='auth-bor-margin'>-->
<!--						<a href="{{ url_for('auth.vk_login_request')}}" class='auth-a'>Вход через ВКонтакте</a>-->
<!--					</div>-->
					<div class="col-2 d-block" id='auth-bor-margin'>
						<img src="{{ url_for('static', filename='google-logo.png')}}" alt="Google-Logo" class='img-fluid'>
					</div>
					<div class="col-10 text-wrap d-block text-center" id='auth-bor-margin'>
						<a href="{{ url_for('auth.google_login_request') }}" class='auth-a'>Авторизоваться в GoogleDisk</a>
					</div>
					<div class="col-2 d-block" id='auth-bor-margin'>
						<img src="{{ url_for('static', filename='yandex-logo.png')}}" alt="Yandex-Logo" class='img-fluid'>
					</div>
					<div class="col-10 text-wrap d-block text-center" id='auth-bor-margin'>
						<a href="{{ url_for('auth.yandex_login_request') }}" class='auth-a'>Авторизоваться в YandexDisk</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}