{% extends 'main.html' %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
		{{current_user.vk_name}} {{current_user.vk_lastname}}
		<p>{{current_user.google_drive}}</p>
		<p>{{current_user.yandex_drive}}</p>
		<p>{{current_user.google_drive_email}}</p>
		<p>{{current_user.yandex_drive_email}}</p>
		</div>
	</div>
{% endblock %}