.body {
	min-height: 100vh;
	background-color: #1F1F1F;
}
.main {
	min-height: 100%;
	height: 100%;
}

header {
	background-color: #1B1B1B;
}

.header-line, .logo-line {
	min-height: 50px;
}

#header-logo a {
	color: #FFFFFF;
	align-content: center;
	justify-content: center;
	line-height: 50px;
	font-size: 30px;
	font-family: 'Fruktur', cursive;
	color: #FFFFFF;
	transition-duration: 0.5s;
}

#header-logo a:hover {
	text-decoration: none;
	color: #FF5001;
	transition-duration: 0.5s;
}

.nav-menu {
 	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

.header-line a {
	display: block;
	padding: 0 10px;
	background-color: #1B1B1B;
	transition-duration: 0.5s;
	color: #FFFFFF;
	height: 100%;
	line-height: 50px;
	font-size: 20px;
}

.header-line a:hover {
	background-color: #FF5001;
	transition-duration: 0.5s;
	color: #FFFFFF;
	text-decoration: none;
}

#auth-block {
	margin-top: 20%;
}

.auth-a {
	margin-left: 20px;
	line-height: 90px;
	color: #FFFFFF;
	transition-duration: 0.5s;
}

.auth-a:hover {
	color: #FFFFFF;
	text-decoration: none;
	transition-duration: 0.5s;
}

#auth-bor-margin {
	margin-bottom: 10px;
	padding: 0;
}

#disk-content-block{
}

.disk-main {
	background-color: #1B1B1B;
}

.disk-header {
	width: 100%;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 15px;
}

.disk-body {
	padding: 0 15px 15px 15px;
}

.header-button a {
	display: block;
	padding: 0 10px;
	background-color: #1B1B1B;
	transition-duration: 0.5s;
	color: #FFFFFF;
	line-height: 25px;
	font-size: 15px;
}

.header-button a:hover {
	background-color: #FF5001;;
	transition-duration: 0.5s;
	color: #FFFFFF;
	text-decoration: none;
}

.item_name {
	color: #FFFFFF;
}

.item {
	transition-duration: 0.2s;
	background-color: #1B1B1B;
}

.item:hover {
	background-color: #1F1F1F;
	transition-duration: 0.2s;
}

.yandex_menu {
	background-color: #1F1F1F;
	position: absolute;
	display: none;
	z-index: 4;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-width: 200px;
	max-width: 300px;
	color: #FFFFFF;
}

.yandex_menu a {
	padding-left: 10px;
	line-height: 30px;
	background-color: #1F1F1F;
	text-decoration: none;
}

.yandex_menu a:hover {
	background-color: #FF5001;
}

.google_menu {
	background-color: #1F1F1F;
	position: absolute;
	display: none;
	z-index: 4;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-width: 200px;
	max-width: 300px;
	color: #FFFFFF;
}

.google_menu a {
	padding-left: 10px;
	line-height: 30px;
	background-color: #1F1F1F;
	text-decoration: none
}

.google_menu a:hover {
	background-color: #FF5001;
}

.popup_window {
	min-width: 30%;
	min-height: 20%;
	max-width: 50%;
	background-color: #1B1B1B;
	display: none;
	position: absolute;
	margin: auto;
	z-index:4;
	outline: 5px solid rgba(255, 80, 1, 0.2)
}

.popup_window a {
	display: inline-block;
}

#popup_window_col_top {
	background-color: #121212;
}

#path_line {
	width: 100%;
	background-color: #1F1F1F;
	border-radius: 5px;
	padding: 0 5px;
}

#preveous_name {
	display: none;
}

.flashed_message {
	color: #C24700;
}

.path_line {
	line-height: 25px;
	max-height: 25px;
}

.main_move_block {
	color: white;
}

.choose_folder_button {
	border-radius: 5px;
	width: 30%;
	height: 30px;
	margin: 0 auto;
	background-color: #C24700;
}

.selected_folder {
	transition-duration: 0.2s;
	background-color: #1B1B1B;
}

.selected_folder:hover {
	background-color: #454545;
	transition-duration: 0.2s;
}

.drive_logout {
	color: white;
	text-decoration: none;
}

.drive_logout:hover {
	color: white;
}

.drive_login {
	color: white;
	text-decoration: none;
}

.drive_login:hover {
	color: white;
}

#popup_window_col_body {
	color: white;
}

#popup_window_col_body a {
	color: white;
	text-decoration: none;
}

#popup_window_col_body a:hover {
	color: #FF5001;
}

.main_form {
	width: 40%;
	left:30%;
	top:30%;
	background-color: #1F1F1F;
	display: none;
	position: absolute;
	margin: auto;
	z-index:4;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

.main_form * {
	margin: 5px 10px 10px 5px;
	color: #FFFFFF;
}

.main_form span {
	text-align: center;
}

.yandex_form_input {
	padding: 3px 5px;
	background-color: #1B1B1B;
	border: none;
	color: #FFFFFF;
}

.yandex_form_input::placeholder {
	color: #8D8D8D;
}

.yandex_form_button {
	background-color: #FF5001;
	border-radius: 5px;
	border: none;
}

.main_form {
    display:none;
}
