<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href='{{url_for("static", filename="main.css")}}'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Fruktur&display=swap" rel="stylesheet">
	<script type="text/javascript" src='{{url_for("static", filename="jquery-3.4.1.js")}}'></script>
	<script type="text/javascript" src='{{url_for("static", filename="scripts.js")}}'></script>
	<link rel="shortcut icon" href='{{url_for("static", filename="favicon.png")}}' type="image/x-icon">
</head>
<body>
	<div class="body">
		<header>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 logo-line">
						<span id='header-logo'><a href="{{url_for('main.main_page')}}">InTouch</a></span>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 header-line">
						<div class="row justify-content-end">
							<div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto p-0">
								{% with messages = get_flashed_messages() %}
								  {% if messages %}
								    {% for message in messages %}
								      <span class="flashed_message">{{ message }}</span>
								    {% endfor %}
								  {% endif %}
								{% endwith %}
							</div>
							<div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto p-0">
								<a href="">Помощь</a>
							</div>
							{% if current_user.is_authenticated %}
								<div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto p-0">
									<a href="{{ url_for('main.user_page') }}">Аккаунт</a>
								</div>
								<div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto p-0">
									<a href="{{ url_for('auth.full_logout') }}">Выход</a>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="main mt-xl-3 mt-lg-3 mt-md-3 mt-sm-0">
			{% block content %}
			{% endblock %}
			<!-- Формы -->
			<form action="{{url_for('main.yandex_newfolder')}}" class='form_new_field block-close' method="POST">
				<div class="form_div main_form block-close">
					{% for field in form %}
						{{ csrf_token }}
						{{field(class='yandex_form_input block-close', id='new', placeholder='Введите название новой папки...')}}
						{% if field.errors %}
						    {% for error in field.errors %}
						    <span class="form_errors">
						      {{ error }}
						  	</span>
						    {% endfor %}
					  {% endif %}
					{% endfor %}
					<input type="submit" value="Создать" class="yandex_form_button block-close">
				</div>
			</form>

			<form action="{{url_for('main.rename_file')}}" class='form_rename_yandex block-close' method="POST">
				<div class="rename_form_div main_form block-close">
					<span>Не рекомендуется изменять имя файла в общем доступе, в связи с его дальнейшей недоступностью в папке 'Общий доступ'</span>
					{{RenameForm.csrf_token }}
					{{RenameForm.name(class='yandex_form_input block-close', id='rename', placeholder='Введите новое имя файла...')}}
					{{RenameForm.preveousname(class='yandex_form_input block-close d-none', id='preveous_name', readonly='')}}
					{% if RenameForm.errors %}
					    {% for error in RenameForm.errors %}
					    <span class="form_errors">
					      {{ error }}
					  	</span>
					    {% endfor %}
				  {% endif %}
					<input type="submit" value="Переименовать" class="yandex_form_button block-close">
				</div>
			</form>

			<form action="{{url_for('main.yandex_upload')}}" class='form_upload_yandex block-close' method="POST" enctype="multipart/form-data">
				<div class="upload_form_div main_form block-close">
					{{UploadForm.csrf_token }}
					{{UploadForm.file(class='yandex_form_input block-close', id='upload_file_ipnput', placeholder='Выберите файл')}}
					{{UploadForm.path(class='yandex_form_input block-close d-none', id='upload_path', readonly='')}}
					{% if UploadForm.errors %}
					    {% for error in UploadForm.errors %}
					    <span class="form_errors">
					      {{ error }}
					  	</span>
					    {% endfor %}
				  {% endif %}
					<input type="submit" value="Загрузить" class="yandex_form_button block-close">
				</div>
			</form>

			<!-- GOOGLE -->

			<form action="{{url_for('main.google_newfolder')}}" class='form_new_field block-close' method="POST">
				<div class="new_google_folder main_form block-close">
					{% for field in NewDirGoogle %}
						{{ csrf_token }}
						{{field(class='yandex_form_input block-close', id='newg', placeholder='Введите название новой папки...')}}
						{% if field.errors %}
						    {% for error in field.errors %}
						    <span class="form_errors">
						      {{ error }}
						  	</span>
						    {% endfor %}
					  {% endif %}
					{% endfor %}
					<input type="submit" value="Создать" class="yandex_form_button block-close">
				</div>
			</form>

			<form action="{{url_for('main.google_rename_file')}}" class='form_rename_yandex block-close' method="POST">
				<div class="google_rename_form_div main_form block-close">
					<span>Не рекомендуется изменять имя файла в общем доступе, в связи с его дальнейшей недоступностью в папке 'Общий доступ'</span>
					{{GoogleRenameFile.csrf_token }}
					{{GoogleRenameFile.name(class='yandex_form_input block-close', id='google_rename', placeholder='Введите новое имя файла...')}}
					{{GoogleRenameFile.id(class='yandex_form_input block-close d-none', id='google_id', readonly='')}}
					{% if GoogleRenameFile.errors %}
					    {% for error in GoogleRenameFile.errors %}
					    <span class="form_errors">
					      {{ error }}
					  	</span>
					    {% endfor %}
				  {% endif %}
					<input type="submit" value="Переименовать" class="yandex_form_button block-close">
				</div>
			</form>

			<form action="{{url_for('main.google_upload')}}" class='form_upload_yandex block-close' method="POST" enctype="multipart/form-data">
				<div class="google_upload_form_div main_form block-close">
					{{GoogleUploadForm.csrf_token }}
					{{GoogleUploadForm.file(class='yandex_form_input block-close', id='upload_file_ipnput', placeholder='Выберите файл')}}
					{% if GoogleUploadForm.errors %}
					    {% for error in GoogleUploadForm.errors %}
					    <span class="form_errors">
					      {{ error }}
					  	</span>
					    {% endfor %}
				  {% endif %}
					<input type="submit" value="Загрузить" class="yandex_form_button block-close">
				</div>
			</form>

		</div>
		<footer></footer>
	</div>
</body>
</html>